# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.iPotAPI.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Patrick\RiderProjects\iPotAPI\.idea\.idea.iPotAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
