# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AppiPot.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Patrick\RiderProjects\AppiPot\.idea\.idea.AppiPot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
